root = true

[*]
charset = utf-8-bom
end_of_line = crlf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,csx}]
indent_size = 4
csharp_using_directive_placement = outside_namespace
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_new_line_before_open_brace = all
dotnet_sort_system_directives_first = true

[*.{xml,csproj,props,targets,slnx,vsct,resx,vsixmanifest}]
indent_size = 2

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
